
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-green: rgb(88, 129, 153);
$secundary-green: rgb(153, 216, 241);
$primary-black: #17252A;
$primary-white: #FEFFFF;
$secundary-white: #DEF2F1;
$light-grey: rgb(236, 236, 236);
$primary-grey: rgb(51, 51, 51);
$secundary-grey: rgb(216, 216, 216);
$primary-blue: #228FCF;
$dark-blue: #243F4F;
$danger: rgb(255, 43, 43);
