
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import style files
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './layout.scss';
@import './projects.scss';
@import './profile.scss';
@import './detail.scss';

// Global styles
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: $primary-grey;
  min-height: 100vh;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
